:root{
    --White: hsl(0, 0%, 100%);
    --Slate-black: #1F314F;
    --Slate-gray: #68778D;
    --Slate-light: #D5E1EF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--Slate-light);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

main{
    background-color: var(--White);
}
.card{
    width:320px;
    height: 499px;
    border: 1px solid lightgray;
    border-radius:15px;  
}

.card img{
    width: 288px;
    height: 288px;
    border-radius:15px;  
}
.body{
    padding: 10px;
  }

.body .title-p{
    font-size: 19px;
    line-height: 120%;
    letter-spacing: 0.16px;
    text-align: center;
    font-weight: bold;
    color: var(--Slate-black);
    width: 256px;
    height: 52px;
}
.body p{
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    color: var(--Slate-gray);
    line-height: 140%;
    letter-spacing: 0.2px;
    width: 256px;
    height: 63px;
    padding: 5px;
}



.content{
    margin-top: 30px;
    padding: 20px;
    width: 288px;
    height: 131px;
}
