:root{
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    --medium:Font size (paragraph): 15px
}

body{
    font-size: 62.5%;
    font-size: var(--medium);
    font-family: 'Outfit', sans-serif;
    background-color: var(--Light-gray);
}

main{
    background-color: var(--White);
}
main img{
    width: 330px;
    padding: 8px;
    border-radius:15px;  
}
.cuerpo h3{
    font-size: 28px;
    text-align: center;
    font-weight: 700;
    color: var(--Dark-blue);
}
.cuerpo p{
    font-size: var(--medium);
    text-align: center;
    font-weight: 400;
    color: var(--Grayish-blue);
}

.card{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    width:370px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;  
}
  .cuerpo{
    padding: 10px;
  }

  .container{
    margin-bottom: 10px;
  }

.attribution{
    font-size: var(--medium);
    bottom: 5px;
    color: black;
}
.attribution a{
    text-decoration: none;
}

@media screen and (min-width: 412px) and (max-width:1534px){
    .card{
        display:flex;
        flex-direction:column;
        justify-content:center;
        width:370px;
        border: 1px solid lightgray;
        box-shadow: 2px 2px 8px 4px #d3d3d3d1;
        border-radius:15px;  
    }
}